{% extends "layout.html.twig" %}


{% block content %}
<table>
    {% for value in users %}

        <tr>
            <td>{{ value.id }}</td>
            <td>{{ value.firstname }}</td>
            <td>{{ value.lastname }}</td>
            <td>{{ value.email }}</td>
            <td>{{ value.adress }}</td>
        </tr>
    {% else %}
        <p>Fail</p>
    {% endfor %}
</table>

{% endblock %}
